// Element CARD profile and Card

.card-profile{
  grid-row: span 2;
  margin: 1rem;
  overflow: hidden;
  border-radius: 10px;
  background-color: $darkBlue;

  .top{
    height: 55%;
    background-color: $primaryBlue;
    border-radius: 10px;
    padding: 2rem;
    display: flex;
    flex-direction: column;

    img{
      width: 80px;
      height: 80px;
      margin-bottom: 3rem;
      border-radius: 100%;
      border: solid 2px white;
    }

    .light{
      font-weight: 400;
      color: $desaturatedBlue;
      color: rgba(255, 255, 255, 0.3);
      font-size: 1em;
      margin-bottom: 0.3rem;
    }

    .name{
      font-weight: 300;
      font-size: 2.5em;
      line-height: 45px;
      color: white;
    }
  }

  .bottom{
    height: 40%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    padding: 2rem;

    a{
      padding-bottom: 1.2rem;
      color: rgba(255, 255, 255, 0.3);
      font-size: 1.2em;
      font-weight: 400;

      &:hover{
        color: white;
      }

    }
    .active{
      color: white;
    }
  }
}

.card-activity{
  border-radius: 10px;
  color:  white;
  margin: 1rem;


  .top{
    border-radius: 10px;
    height: 20%;
    overflow: hidden;
    position: relative;

    img{
      height: 4rem;
      width: 4rem;
      position: absolute;
      right: 10px;
      top: -6px;
    }
  }

  .bottom{
    height: 60%;
    border-radius: 10px;
    background-color: $darkBlue;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    

    &:hover{
      background-color: #34397b;
    }

    .bottom-top{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 2rem;

      a{
        color: white;
        font-size: 18px;
        text-align: center;
      }
    }

    .bottom-bottom span{
      font-size: 3em;
      font-weight: 300;
    }

    .bottom-bottom p{
      margin-top: 1rem;
      font-size: 14px;
      color: $paleBlue;
    }

  }
}

//color top: 0;

#card-work{
  background-color: $orange;
}

#card-play{
  background-color: $blue;
}

#card-study{
  background-color: $lightRed;
}

#card-exercice{
  background-color: $limeGreen;
}

#card-social{
  background-color: $violet;
}

#card-selfCare{
  background-color: $softOrange;
}



//Responsive

@media screen and (max-width: 1080px){

  .card-profile{

    min-height: 150px;

    .top{
      height: 100px;
      display: flex;
      padding: 0 0 0 1rem;
      flex-direction: row;
      align-items: center;

      img{
        height: 60px;
        width: 60px;
        margin-right: 1rem;
        margin-bottom: 0;
      }

      .light{
        font-size: 0.8em;
      }

      .name{
        line-height: 1em;
        font-size: 1.2em;
      }
    }

    .bottom{
      height: 50px;
      padding: 0 1rem;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;

      a{
        padding: 0;
        font-size: 13px;
      }
    }
  }

  .card-activity{

    min-height: 150px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;


    .top{
      height: 35px;
    }


    .bottom{
      padding: 1rem;
      height: 83px;

      .bottom-top{
        margin-top: 1rem;
        margin-bottom: 1rem;
      }

      .bottom-bottom{
        display: flex;
        justify-content: space-between;
        align-items: center;

        span{
          font-size: 30px;
        }

        p{
          margin: 0;
          font-size: 13px;
        }

      }
    }

  }

}
