@import "color.scss";
@import "reset.scss";
@import "card.scss";

//font
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');


%centrer{
  display: flex ;
  align-items: center;
  justify-content: center;
}


body{
  width: 100vw;
  height: 100vh;
  @extend %centrer;
  background-color: $veryDarkBlue;
  font-family: "Rubik";
}

.container-desktop{
  width: 1440px;
  @extend %centrer;

  .grid-container{
    width: 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

//responsive

@media screen and (max-width: 1080px){

  body{
    height: auto;
  }

  .container-desktop{
    margin: 1rem;

    .grid-container{
      display: flex;
      flex-direction: column;
    }
  }


}
