.content {
  display: flex;
  flex-direction: column;

  padding-top: 4rem;

  .content__title {
    font-size: 2em;
    letter-spacing: 3.38px;

    margin-left: 3.5rem;
    margin-bottom: 6.3rem;

    align-self: flex-start;

    span {
      margin-right: 0.6rem;
    }
  }

  .content__imageTech {
    height: 31rem;
    margin-bottom: 5.5rem;
  }

  .content__nav {
    nav {
      .content__nav_circle {
        width: 6rem;
        height: 6rem;
      }
    }
  }

  .content__description {
    .content__description_title {
      font-size: 1.6em;
      padding-left: unset;

      margin-bottom: 3.4rem;
    }

    .content__description_nameTech {
      font-size: 4em;
    }

    .content__description_text {
      font-size: 1.6em;

      p {
        line-height: 2.8rem;
        padding: 0rem 15.5rem;

        span {
          padding: 0;
        }
      }
    }
  }
}
