@import "../general";
@import "../animation";

.anime {
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media screen and (min-width: 375px) {
  @import "../header/header";
  @import "./content";

  html {
    background: url("../../assets/technology/background-technology-mobile.jpg");
    background-size: cover;
    color: white;
  }
}

@media screen and (min-width: 768px) {
  @import "../header/tablette";
  @import "./tablet";

  html {
    background: url("../../assets/technology/background-technology-tablet.jpg");
    background-size: cover;
    color: white;
  }
}

@media screen and (min-width: 1440px) {
  @import "../header/desktop";
  @import "./desktop";

  html {
    background: url("../../assets/technology/background-technology-desktop.jpg");
    background-size: cover;
    color: white;
  }
}

// @media screen and (min-width: 1440px) and (max-height: 880px) {
//   html {
//     font-size: 52%;
//   }

//   .content {
//     gap: 10rem;
//   }
// }

@media screen and (min-width: 1800px) {
  html {
    font-size: 67.5%;
  }
  .content {
    gap: 22rem;
  }
}
