.content {
  margin-top: 11.1rem;

  gap: 15.5rem;

  .description {
    .little-title {
      font-size: 2rem;
      letter-spacing: 3.38px;
    }

    .big-title {
      margin-top: 1.3rem;
      font-size: 15rem;
    }

    .para-description {
      margin-top: 1.2rem;
      p {
        padding: 0rem 16rem;
        font-size: 1.6rem;
        line-height: 28px;
        text-align: unset;
      }
    }
  }

  .explore {
    .btn-explore {
      width: 24.2rem;
      height: 24.2rem;
      font-size: 3.2rem;
    }
  }
}
