//window cart hidden

.cart-window{
  height: auto;
  width: 400px;
  display: none;
  position: absolute;
  background-color: white;
  border-radius: 10px;
  right: 60px;
  top: 85px;
  box-shadow: 0px 11px 30px -3px lightgray;


  .container{
    padding: 1.5rem;
    position: relative;

    .title{
      width: 100%;

      p{
        font-size: 20px;
        font-weight: 700;
        padding-bottom: 1rem;
      }

      //ligne de separation 
      &::after{
        content: "";
        position: absolute;
        width: 400px;
        height: 1px ;
        background-color: #e6e6e6;
        left: 0px;
      }
    }

    li{
      padding: 1rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .thumbnail{
        width: 60px;
        height: 60px;
        border-radius: 10px;
      }

      .description{
        p{
          font-size: 18px;
          padding-bottom: 0.5rem;
          color: $grayIshBlue;

          b{
            color: black;
            font-weight: 700;
          }
        }
      }

      .delete{
        width: 15px;
        height: 20px;
      }
       
    }

    button{
      width: 100%;
      height: 50px;
      margin-top: 1.5rem;
      background-color: $orange;
      color: white;
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      border-radius: 10px;
      border: none;

    }

  }
  
}//

.cart-window.active{
  display: block;
}
