.content {
  justify-content: unset;
  .content__title {
    align-self: flex-start;

    font-size: 2em;
    letter-spacing: 3.38px;

    margin: 4.4rem 0rem 5.9rem 3.5rem;
  }

  .content__imagePeople {
    width: 45.637rem;
    height: 52.2rem;
    order: 3;
  }

  .content__nav {
    margin-right: 0.5rem;
    margin-bottom: 5rem;
    order: 2;
  }

  .content__description {
    margin-right: 0.5rem;
    margin-bottom: 4rem;
    .content__description_job {
      font-size: 2.4em;
    }

    .content__description_name {
      font-size: 4em;
    }

    .content__description_text {
      font-size: 1.6em;

      p {
        padding: 0rem 15.2rem;
        line-height: 2.8rem;
      }
    }
  }
}
