@import "../general";

@media screen and (min-width: 375px) {
  @import "../header/header";
  @import "./content";

  html {
    background-image: url("../../assets/crew/background-crew-mobile.jpg");
    background-size: cover;
    color: white;

    font-size: 62.5%;
  }
}

@media screen and (min-width: 768px) {
  @import "../header/tablette";
  @import "./tablet";

  html {
    background-image: url("../../assets/crew/background-crew-tablet.jpg");
    background-size: cover;
    color: white;

    font-size: 62.5%;
  }
}

@media screen and (min-width: 1440px) {
  @import "../header/desktop";
  @import "./desktop";

  html {
    background-image: url("../../assets/crew/background-crew-desktop.jpg");
    background-size: cover;
    color: white;

    height: 100vh;

    font-size: 62.5%;
  }
}
